header {
    padding: 20px;
    text-align: center;
  }
  
  /* Light Mode */
  header.light {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark Mode */
  header.dark {
    background-color: #333;
    color: #fff;
  }